.con{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .label {
    float: left;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    max-height: 100%;
  }
  
  .level {
    text-align: center;
    width: 25%;
  }
  
.nature {
  text-align: center;
  width: 35%;
}

  .clearfix {
    clear: both;
  }
  